/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.avatar {
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}
.nav-banner img {
    width: 100%;
    height: 7rem;
}

.navbar-collapse li {
    margin-left: 10px;
}

.navbar-collapse a:hover {
    color: white;
}
/* Hero */
.hero-container {
    display: flex;
    align-items: center;
}
.my-photo {
    border-radius: 50%;
    margin: auto;
    display: block;
}

.hero {
    gap: 2rem;
    

}

p {
    text-align: justify;
}

/* Work section */
h1 {
    font-weight: 700 !important;
}

/* Skills section */

/* About/Contact section */
.contact-links {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

/* Footer */
footer li:hover {
    transform: scale(1.1);
}