/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
p {
    text-align: justify;
}

h1 {
    font-weight: 700 !important;
}

/* Navbar */

.avatar {
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}
.nav-banner img {
    width: 100%;
    height: 7rem;
}

.navbar-collapse li {
    margin-left: 10px;
}

.navbar-collapse a:hover {
    color: white;
}

/* Hero */
.my-photo {
    border-radius: 50%;
    margin: auto;
    display: block;
}

.hero {
    gap: 2rem;
}

/* Footer */
footer li:hover {
    transform: scale(1.5);
}

footer {
    gap: 15px;
}